/*hotels stylesheet*/

*{
	box-sizing: border-box;
}

div, header, section{
	/*border:1px solid #000;
	padding: 20px;*/
}

#banner{
	background-image: url(../images/banner.jpg);
	min-height: 300px;
	background-size: cover;
	text-align:center;
}

#companyname{
	width:20%;
	float:left;
}

#sociamedia{
	width:80%;
	float: right;
}

.clear-both{
	clear: both;
}

#banner-text{
	border:0px solid #000;
	color: #fff;
	padding-top:100px;
}

#searchform{
	border:0px solid #000;
	width:80%;
	padding: 20px;
	margin:auto;
	box-shadow: 8px 8px 15px lightgrey;
	margin-top: -40px;
	background-color: #fff;
	position: sticky;
	top: 0px;
}

#searchform input{
	padding:5px;
}

#suggested{
	text-align: center;
}
