#banner{
	height: 400px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	border-right-style: dotted;
	border-top-style: dashed;
	
	background-image: url(../images/flowers.jpg), 
	linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,255,0.4));
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed;
	background-blend-mode: overlay;
	
	/*background: #123fff url("../images/flowers.jpg")  fixed bottom; */
	background-size: cover;
	/*line-height: 400px;
	text-align: center;*/
	
}

.box{
 width:150px;
 height:150px;
 border:1px solid #000;
 border-radius: 50%;
 background-color: #fff123;
 margin:20px 160px 120px;
	
}

li{
	border:0px solid #000;
	display: inline-block;
	padding:5px;
	width: 90px;
}

#mydiv{
	border:1px solid #000;
	width: 200px;
	max-height: 200px;
	overflow: scroll;
	
}

#myimage{
	border:1px solid #000;
	margin-top: -100px;
	
}

.clearboth{
	clear: both;
}

li a{
	text-decoration: none;
}

#topnav{
	border:0px solid #000;
	position: sticky;
	top: 0px;
	background: linear-gradient(to left, pink, yellow);
	padding:10px 0px;
}

ul{
	border:0px solid #000;
}

#socialmedia{
	border:0px solid #000;
	padding:15px;
	min-height: 70px;
	position: fixed;
	top: 320px;
	right: 5px;
}

.smimage{
	width:32px;
	height:32px;
	display: block;
	margin-top:5px;
}

#textcaption{
	border:0px solid #000;
	position: relative;
	top: -240px;
	text-align: center;
	
}

#textcaption h2{
	color:#fff;
}

#para1{
	position: absolute;
	top: 340px;
	border:0px solid green;
	color: #fff;
	font-size:20px;
	left: 400px;
	
}

#theform{
	border:0px solid #000;
	width:80%;
	padding:25px;
	margin:auto;
	margin-top:-30px;
	background-color: #fff;
	box-shadow: 10px 10px 5px grey;
	position: sticky;
	top:0px;
}


