/* Custom fonts definition*/
@font-face{
	font-family: karla;
	src: url(../fonts/karla/karla-bold-webfont.woff);
}

@font-face{
	font-family: myrubik;
	src: url(../fonts/rubik/rubik-regular-webfont.woff);
}

body{
	background-color: #0000ff;
	color: #fff;
	font-family: myrubik, sans-serif;
}

h1{
	font-family: karla, sans-serif;
}